*{
	font-family: Georgia, serif;
}
header i{
	color: #787878;
}
#read_more_button{
	margin-top: 0.4rem;
}
.level{
	background-color: #2e2e2e;
}
.topBar .button{
	border: none;
	background-color: #2e2e2e;
}
.topBar .button span{
	margin-right: -0.88em;
	margin-left: -0.4em;
}
.level-left{
	margin-left: 1.25em;
}
.level-right{
	margin-right: 1.25em;
}
.level-left p{
	font-size: 0.75em;
}
.topBar .level-right .level-item{
	margin: 0.3em 0;
}
#linkedin .fa-stack:hover .fa-circle{
	color: #0077B5;
}
#twitter .fa-stack:hover .fa-circle{
	color: #00aced;
}
#pinterest .fa-stack:hover .fa-circle{
	color: #c8232c;
}
#google-plus .fa-stack:hover .fa-circle{
	color: #d34836;
}
#rss .fa-stack:hover .fa-circle{
	color: #f26522;
}
.wrapper{
	margin-left: 1.25rem;
	margin-right: 1.25rem;
}
.navTab{
	margin-right: -0.1em;
}
.searchBlock{
	margin-top: 0.6rem;
}
.textBlock a.button{
	margin-top: 1.25rem; 
}
.slider{
	margin-top: 2.8rem;
	background-color: #f1f1f1;
	border-top: 5px solid #e9e9e9;
	border-bottom: 5px solid #e9e9e9;
}
.slider .textBlock{
	margin: auto;
}
.intro .user p:nth-child(3){
	font-size: 0.8125rem;
	color: #666;
}
.intro .user .subtitle{
	color: #0099ff;
}
.wrapper1{
	margin: 0 2rem;
}
.shout{
	background-color: #e0e0e0;
	border-left: 10px solid #0099ff;
}
.shout .buttonBlock{
	margin: auto;
}
.shout h1{
	font-size: 4vh;
}
.shout h1, .shout h2{
	margin-left: 1.875rem;
}
.shout a{
	font-size: 1.625rem;
}
.wrapper2{
	margin-top: 4rem;
}
.feedback {
	background-color: #1a1a1a;
	padding: 1.2rem;
	border-top: 5px solid black;
}
.feedback, .feedback .title, 
.feedback .subtitle{
	color: #666;
}
.feedback_title{
	padding-bottom: 1.25rem;
	color: #fff;
}
.feedback_form input,
.feedback_form textarea{
	background-color: #232323;
	border: none;
}
.feedback_form input::placeholder,
.feedback_form textarea::placeholder{
	color: #989898;
	font-family: Georgia, serif;
	opacity: 0.7;
}
.feedback_form input, .feedback_form textarea{
	color: rgb(242, 242, 235);
}
.feedback :first-child p:nth-child(3){
	margin-top: 0.7rem;
}
.ul_list{
	margin-top: -0.25rem;
}
.ul_list span{
	border-bottom: 1px solid #232323;
	display: inline-block;
	width: 100%;
	margin-bottom: 0.25rem;
}
.post p:nth-child(3){
	margin-top: -0.4rem;
}
.post :first-child{
	margin-top: 0.5rem;
}
footer .level-item{
	padding: 0.75rem 0;
}
footer p{
	white-space: pre;
	font-size: 0.75rem;
	color: #666;
}