*{
	font-family: Georgia, serif;
}
header i{
	color: #787878;
}
.topBar.level{
	background-color: #2e2e2e;
}
.topBar .button{
	border: none;
	background-color: #2e2e2e;
}
.topBar .button span{
	margin-right: -0.88em;
	margin-left: -0.4em;
}
.topBar .level-left p{
	font-size: 0.75em;
}
.topBar .level-left{
	margin-left: 1.25em;
}
.topBar .level-right{
	margin-right: 1.25em;
}
.topBar .level-right .level-item{
	margin: 0.3em 0;
}
.wrapper{
	margin-left: 1.25rem;
	margin-right: 1.25rem;
}
.navTab{
	margin-right: -0.1em;
}
.searchBlock{
	margin-top: 0.6rem;
}